
$green-color: #3FAE49;
$white-color: #fff;
$blue-color: #1E3066;
$light-gray-color: #999999;
$sitebg-color: #F5F5F5;
$light-gray-border-color:#C2C2C2;
$gray: #7F7F7F;


$desktop-break: 1600px;
$tablet-break: 768px;
$mobile-break: 520px;

.green-text{
  color:$green-color!important;
}
.green-bg{
  background-color: $green-color;
}
